html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    background: url('../IMG/salaSenai.jpg') no-repeat center center fixed;
    background-size: cover;
}


.sidebar {
    width: 300px;
    background-color: #000;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    height: 100vh; 
    box-sizing: border-box;
}


.logo {
    margin-bottom: 10px;
}

.logo img {
    width: 160px;
}

.subtitulo {
    font-size: 12px;
    text-align: center;
    margin-bottom: 30px;
}

.menu-btn, .sair-btn {
    width: 200px;           
    padding: 18px;          
    margin: 12px 0;
    border: none;
    border-radius: 8px;
    font-size: 20px;        
    color: white;
    background-color: #FF2C2C;
    cursor: pointer;
}


.sair-btn {
    margin-top: auto;
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
    padding-top: 200px;
    
}

.nova-turma-card {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 30px;
    border-radius: 10px;
    width: 800px;
}

.nova-turma-card h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
    border: 1px solid black;    
}

.input-group input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.aluno-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aluno-list {
    background: white opacity;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 300px;
    min-height: 150px;
    padding: 10px;

}

.botoes-transferencia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.botoes-transferencia button {
    padding: 10px;
    font-size: 16px;
    width: 50px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: #FF2C2C;
    color: white;
}
