body {
    margin: 0;
}

.todaApagina {
    display: flex;
    flex-direction: row;
}
.resto {
    display: flex;
}

.menu {
    display: flex;
    flex-direction: column;
    background-color: black;
    height: auto;
    padding: 2%;
    height: 100vh;
    width: 14%;
}

.logoBloco {
    text-align: center;
    color: white;
}

.logo {
    width: 100%;
}

.botoesElogo {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.botoes {
    border-style: none;
    border-radius: 20px;
    padding: 8% 15%;
    color: white;
    background-color: red;
    margin: 0 10%;
    font-size: x-large;
}
.botaoSair {
    margin-top: 120%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    justify-items: flex-end;
}
