body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('../Recursos/classroom.png') no-repeat center center fixed;
    background-size: cover;
    opacity: 0.9;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #000;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    text-align: center;
}



.logo p {
    font-size: 12px;
    margin: 5px 0 20px;
}

.nav-top {
    flex-grow: 1;
}

.nav-bottom {
    margin-top: auto;
}

.nav-button {
    width: 100%;
    padding: 15px;
    margin: 5px 0;
    background-color: #ff0000;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.nav-button.active {
    background-color: #cc0000;
}

.main-content {
    flex: 1;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    position: relative;
}

.main-content h2 {
    margin-top: 0;
    text-align: center;
    font-size: 48px;
}

.add-button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    right: 20px;
    top: 20px;
}

.header-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 50px;
}

.header-table th {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    background-color: #f2f2f2;
}

.header-table th:first-child,
.header-table th:last-child {
    border-left: none;
    border-right: none;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0;
}

.data-table td {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.data-table td:first-child,
.data-table td:last-child {
    border-left: none;
    border-right: none;
}

.action-button {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    padding: 5px;
}

.action-button img {
    width: 24px; /* Ajuste o tamanho da imagem conforme necessário */
    height: 24px; /* Ajuste o tamanho da imagem conforme necessário */
    vertical-align: middle;
}

.action-button.delete,
.action-button.visualize {
    background-color: #ff0000;
    border-radius: 3px;
}

.action-button.delete img,
.action-button.visualize img {
    filter: brightness(0) invert(1); /* Inverte as cores para branco em fundo vermelho */
}